{
    "client": {
        "channel_limit": 0,
        "insecure": true,
        "allow_anonymous_connect_without_token": true,
        "allowed_origins": [
            "*"
        ]
    },
    "channel": {
        "without_namespace": {
            "allow_subscribe_for_client": true
        }
    },
    "websocket": {
        "compression": true
    },
    "http_api": {
        "key": "my_api_key"
    },
    "log": {
        "level": "debug"
    },
    "debug": {
        "enabled": true
    },
    "usage_stats": {
        "disabled": true
    },
    "consumers": [
        {
            "enabled": true,
            "name": "kafka_market_consumer",
            "type": "kafka",
            "kafka": {
                "brokers": [
                    "10.40.80.236:9092"
                ],
                "topics": [
                    "market.quote",
                    "market.bidoffer",
                    "market.quote.oddlot",
                    "market.dealNotice",
                    "market.advertised",
                    "market.status",
                    "market.init"
                ],
                "consumer_group": "centrifugo-thuy",
                "max_poll_records": 500,
                "fetch_max_bytes": 52428800,
                "fetch_max_wait": "100ms"
            }
        }
    ],
    "admin": {
        "password": "123456",
        "secret": "secret",
        "enabled": true
    }
}